body {
  font-family: "Nunito", sans-serif;
}
h1 {
  background-color: #5853bc;
  color: #f6eb9a;
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px;
  box-shadow: 5px 5px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #5853bc;
  padding: 15px 15px;
}
.sun {
  font-size: 130px;
  text-align: center;
  color: #5853bc;
  position: relative;
  left: 10px;
}
.menu {
  display: block;
  background-color: #f1f3b8;
  margin: 0 auto;
}
.info {
  border-radius: 10px;
  background-color: #7b99fa;
  border-style: none;
}
.card {
  position: relative;
  top: 80px;
  background-color: #ededed;
  color: #7b99fa;
}
.primary {
  background-color: #7b99fa;
  color: #ebe5ba;
}
.cardTitle {
  font-weight: 600x;
  text-decoration: burlywood;
  color: #362391;
}
